.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.spaceOut {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gap{
    gap: 10px;
}
.spaceOut2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.limited-width{
    max-width: 300px;
    width: 100%;
}
.limited-width2{
    max-width: 800px;
}
.centeredContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.locked-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .row-container {
        flex-direction: column;
        align-items: center;
    }
    .topOptions > * {
        width: 300px;
        font-size: larger;
    }
}
textarea {
    height: 35px;
}