html, body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.locked-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap{
    gap: 10px;
}
textarea {
    height: 35px;
}
.scrollable {
    overflow-y: auto;
    height: 100vh;
}
@media (max-width: 768px) {  /* on smaller screens scrolling is allowed */
    html, body {
        overflow-y: auto;
        height: auto;
    }
    .scrollable {
        height: auto;
    }
}